<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Menu Planner</title>
    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}bootstrap/css/datepicker.css" rel="stylesheet">
    <!--<script type='text/JavaScript' src='{{ STATIC_URL }}jquery/jquery.js'></script>-->
    <script type='text/JavaScript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js'></script>
    <!--<script type='text/JavaScript' src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.21/jquery-ui.min.js'></script>-->
    <script type='text/JavaScript' src='{{ STATIC_URL }}bootstrap/js/bootstrap-datepicker.js'></script>
    <script type='text/JavaScript' src='{{ STATIC_URL }}bootstrap/js/bootstrap.js'></script>
    <!--<script type="text/JavaScript">-->
      <!--$(document).ready(function(){-->
        <!--$('.dropdown-toggle').dropdown()-->
      <!--});-->
    <!--</script>-->
    {% block scripts %}


    {% endblock %}
  </head>

  <!--HEADER-->
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="#">Menu Planner</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li><a href="/menus/">Menus</a></li>
              <li><a href="/recipes/">Recipes</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    <!--END HEADER-->

    <!--BODY-->
    {% block main %}
    <div class="container" style="padding-top:50px;">
        {% block main_content %}

        {% endblock %}
    </div><!--/container-->
    {% endblock %}

  </body>
</html>

