{% extends "base.html" %}

{% block scripts %}
<style type="text/css">
    td {
        min-width: 75px;
    }
</style>


{% endblock %}


{% block main_content %}

<div class="row">
    <div class="span12">
        <h2>Current Menu Items</h2>
        {% if current_recipes|length > 0 %}
        <table><tbody>
            {% for menuitem in current_recipes %}
            <tr>
                <td>{{ menuitem.recipe.title }}</td>
                <td style="padding-left:10px;"><a class="btn btn-mini btn-danger" href="/menus/delete/{{menuitem.id}}?next={{request.path}}">Delete</a></td>
            </td>
            {% endfor %}
        </tbody></table>
        {% else %}
            <p>No recipes added to menu!</p>
        {% endif %}
    </div>
</div>

<div class="row" style="padding-top:20px;">
    <div class="span6">
        <h2>Most Frequently Made</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Recipe</th>
                    <th>Times Made</th>
                </tr>
            </thead>
            <tbody>
            {% for recipe in popular_recipes %}
                <tr>
                    <td>{{recipe.title}}</td>
                    <td>{{recipe.made_count}}</td>
                    <td><a class="btn btn-mini btn-primary" href="./add/{{recipe.id}}?next={{request.path}}">Add to Menu</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="span6">
        <h2>Most Recent</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Recipe</th>
                    <th>Added</th>
                </tr>
            </thead>
            <tbody>
            {% for recipe in recent_recipes %}
                <tr>
                    <td>{{recipe.title}}</td>
                    <td>{{recipe.added}}</td>
                    <td><a class="btn btn-mini btn-primary" href="./add/{{recipe.id}}">Add to Menu</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
