<div class="modal-header">
    <h2>Menu Items for {{info_data.type}}, {{info_data.date|date:"m/d/y"}}</h2>
</div>

<div class="modal-body">
    <div id="recipes">
        {% if chunked_recipes|length > 0 %}
            {% load thumbnail %}
            {% for reciperow in chunked_recipes %}
                <div class="row-fluid reciperow">
                    <ul class="thumbnails">
                        {% for menuitem in reciperow %}
                            <li class="span4">
                                <div class="thumbnail">
                                    {% thumbnail menuitem.recipe.image "300x200" crop="center" as im %}
                                    <img src="{{im.url}}" width="{{im.width}}" height="{{im.height}}" float="top\">
                                    {% empty %}
                                    {% endthumbnail %}
                                    <div class="caption">
                                    <p>{{menuitem.recipe.title}}</p>
                                    <a class="btn btn-danger recipe_delete" data-dismiss="alert" recipe_id={{menuitem.id}}>Delete from menu</a>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
        {% else %}
        <div class="row">
            <div class="span12">
                <p id="no_recipe_warning">No recipes added to menu!</p>
            </div>
        </div>
        {% endif %}
    </div>


<div class="row" style="padding-top:10px;">
    <div id="hidden_inputs">
        <input type="hidden" id="menu_id" value="{{menu_id}}" />
        <input type="hidden" id="menu_date" value="{{menu_date}}" />
        <input type="hidden" id="menu_type" value="{{menu_type}}" />
    </div>
    <div class="ajax_errors"></div>
    <div class="span12 ui-front">
        <input type="text" class="input-xxlarge autocomplete" placeholder="Search for recipes" />
    </div>
</div>

<div class="row" style="padding-top:20px;">
    <div class="span5">
        <h2>Most Frequently Made</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Recipe</th>
                    <th>Times Made</th>
                </tr>
            </thead>
            <tbody>
            {% for recipe in popular_recipes %}
                <tr>
                    <td>{{recipe.title}}</td>
                    <td>{{recipe.made_count}}</td>
                    <td><a class="btn btn-mini btn-primary" href="./add/{{recipe.id}}?next={{request.path}}">Add to Menu</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="span5">
        <h2>Most Recent</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Recipe</th>
                    <th>Added</th>
                </tr>
            </thead>
            <tbody>
            {% for recipe in recent_recipes %}
                <tr>
                    <td>{{recipe.title}}</td>
                    <td>{{recipe.added|date:"m/d/y"}}</td>
                    <td><a class="btn btn-mini btn-primary" href="./add/{{recipe.id}}?next={{request.path}}">Add to Menu</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</div>
<div class="modal-footer">
</div>
