<div class="row">
<p style="float: left">
Per Page: <a href="?page={{recipes.number}}&sort={{sort}}&perpage=20">20</a> |
<a href="?page={{recipes.number}}&sort={{sort}}&perpage=40">40</a> |
<a href="?page={{recipes.number}}&sort={{sort}}&perpage=100">100</a>
</p>

<p style="float: right">
Sort By: <a href="?page={{recipes.number}}&sort=title">Title</a> |
<a href="?page={{recipes.number}}&sort=made_count">Made Count</a> |
<a href="?page={{recipes.number}}&sort=last_made">Last Made</a> |
<a href="?page={{recipes.number}}&sort=rating">Rating</a>
</p>
</div>

{% for recipe in recipes %}
    <div class="row">
        <p>
            <a href="/recipes/{{recipe.id}}">{{recipe.title}}</a><br />
            {% for tag in recipe.tags.all %}
            <small><a href="/recipes/tags/{{tag.name}}">{{tag.name}}</a></small>
            {% endfor %}
        </p>
    </div>
{% endfor %}

<p align='right'>
{% if recipes.has_previous %}
<a href="?page={{recipes.previous_page_number}}&sort={{sort}}">Previous</a>
{% endif %}
{% for page in recipes.paginator.page_range %}
  {% if page == recipes.number %}
  <font size=3><strong><a href="?page={{page}}&sort={{sort}}">{{page}}</a></strong></font>
  {% else %}
  <a href="?page={{page}}&sort={{sort}}">{{page}}</a>
  {% endif %}
{% endfor %}

{% if recipes.has_next %}
<a href="?page={{recipes.next_page_number}}&sort={{sort}}">Next</a>
{% endif %}
</p>
