{% extends "base.html" %}

{% block scripts %}



{% endblock %}


{% block main_content %}

<div class="row">
    <div class="span12">
        <h2>Add a New Recipe</h2>
        {% load crispy_forms_tags %}

        {% crispy add_form %}
    </div>
</div>

<div class="row">
    <div class="span6">
        <h2>Most Frequently Made</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Recipe</th>
                    <th>Times Made</th>
                    <th>Link</th>
                </tr>
            </thead>
            <tbody>
            {% for recipe in popular_recipes %}
                <tr>
                    <td>{{recipe.title}}</td>
                    <td>{{recipe.made_count}}</td>
                    <td><a href="{{recipe.url}}">Link</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="span6">
        <h2>Most Recent</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Recipe</th>
                    <th>Added</th>
                    <th>Link</th>
                </tr>
            </thead>
            <tbody>
            {% for recipe in recent_recipes %}
                <tr>
                    <td>{{recipe.title}}</td>
                    <td>{{recipe.added}}</td>
                    <td><a href="{{recipe.url}}">Link</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
