{% extends "base.html" %}

{% block scripts %}


{% endblock %}


{% block main_content %}

<div class="row">
    <div class="span12">
        <h2 style="padding-bottom:10px;">All Recipes</h2>
        <div class="span12">
            {% load crispy_forms_tags %}
            {% crispy recipe_search_form %}
        </div>
    </div>
</div>

<div class="row">
    <div class="span12">
        <h2 style="padding-bottom:10px;">Results for "{{term}}":</h2>
        <h3>Recipes</h3>
        <div class="row">
            <div class="span12">
                {% if title_matches|length > 0 %}
                    {% include "multiple_recipes.html" %}
                {% else %}
                    <p>No matching recipes.</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="span12">
        <h3 style="padding-top: 15px;">Tags</h3>
        {% if tag_matches|length > 0 %}
            {% for tag_match in tag_matches %}
            <a href="/recipes/tags/{{tag_match}}">{{tag_match}}</a>
            {% endfor %}
        {% else %}
            <p>No matching tags.</p>
        {% endif %}
    </div>
</div>

{% endblock %}
