{% extends "base.html" %}

{% block scripts %}



{% endblock %}


{% block main_content %}

<div class="row">
    <div class="span12">
        <h1>Add a New Recipe</h1>
        {% load bootstrap_toolkit %}

        <form action="" method="post">
            {% csrf_token %}
            {{ add_form|as_bootstrap }}
            <div class="actions">
                <button type="submit" class="btn primary">Submit</button>
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="span6">
        <h1>Most Frequently Made</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Recipe</th>
                    <th>Times Made</th>
                </tr>
            </thead>
            <tbody>
            {% for recipe in popular_recipes %}
                <tr>
                    <td>{{recipe.title}}</td>
                    <td>{{recipe.made_count}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="span6">
        <h1>Most Recent</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Recipe</th>
                    <th>Added</th>
                </tr>
            </thead>
            <tbody>
            {% for recipe in recent_recipes %}
                <tr>
                    <td>{{recipe.title}}</td>
                    <td>{{recipe.added}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
