{% extends "base.html" %}

{% block scripts %}

{{ recipe_form.media }}

{% endblock %}


{% block main_content %}

<div class="row">
    <div class="span8 offset2">
        <h2>{{recipe.title}}</h2>
        <div class="row">
            <div class="span2"><b>Rating:</b></div>
            <div class="span6">{{recipe.rating}}</div>
        </div>
        <div class="row">
            <div class="span2"><b>Comments:</b></div>
            <div class="span6">{{recipe.comments}}</div>
        </div>
        <div class="row">
            <div class="span2"><b>Times Made:</b></div>
            <div class="span6">{{recipe.made_count}}</div>
        </div>
        <div class="row">
            <div class="span2"><b>Added:</b></div>
            <div class="span6">{{recipe.added}}</div>
        </div>
        <div class="row">
            <div class="span2"><strong>Image:</strong></div>
            <div class="span6">
                <div class="accordion" id="image-accordion">
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#image-accordion" href="#image-collapse">View Recipe Image</a>
                        </div>
                        <div id="image-collapse" class="accordion-body collapse">
                            <div class="accordion-inner">
                                {% if recipe.image %}
                                <img src="{{recipe.image|safe}}"></img>
                                {% else %}
                                <p>No image. Why don't you add one?'</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="span2"><b>Content:</b></div>
            <div class="span6">
                <div class="accordion" id="content-accordion">
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#content-accordion" href="#content-collapse">View Recipe Content</a>
                        </div>
                        <div id="content-collapse" class="accordion-body collapse">
                            <div class="accordion-inner">
                                {{recipe.content|safe}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div align="center" style="padding-top:10px">
            <a class="btn" href="{{recipe.url}}">View Recipe on Original Site</a>
            <a class="btn btn-primary" href="/recipes/{{recipe.id}}/edit">Edit Recipe</a>
        </div>
    </div>
</div>

<div class="row" style="padding-top:10px;">
    <div class="span6">
        <h2>Most Frequently Made</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Recipe</th>
                    <th>Count</th>
                    <th>View</th>
                </tr>
            </thead>
            <tbody>
            {% for recipe in popular_recipes %}
                <tr>
                    <td><a href="/recipes/{{recipe.id}}">{{recipe.title}}</a></td>
                    <td>{{recipe.made_count}}</td>
                    <td><a href="{{recipe.url}}">View</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="span6">
        <h2>Most Recent</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Recipe</th>
                    <th>Added</th>
                    <th>View</th>
                </tr>
            </thead>
            <tbody>
            {% for recipe in recent_recipes %}
                <tr>
                    <td><a href="/recipes/{{recipe.id}}">{{recipe.title}}</a></td>
                    <td>{{recipe.added|date:"m/d/y"}}</td>
                    <td><a href="{{recipe.url}}">View</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="span12">
        <p align="center">
            <a class="btn btn-primary" href="/recipes/all">View All Recipes</a>
        </p>
    </div>
</div>

{% endblock %}
