{% extends "base.html" %}

{% block scripts %}

<script type="text/JavaScript">
    //Date picker
    $(document).ready(function(){

        //Helper functions for CSRF annoyances
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        var csrftoken = getCookie('csrftoken');

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            crossDomain: false, // obviates need for sameOrigin test
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type)) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });


        //Functions to add new recipes to modal
        function get_recipe_data(recipe_id, callback){
            $.ajax({
                url:'/recipes/get_recipe_data',
                dataType:'json',
                type:'GET',
                data: {'recipe_id': recipe_id},
                success: function(data, ret_code, jqHXR){
                    callback(data);
                },
                error: function(jqHXR, textStatus, errorThrown){
                    var msg = '<div class="alert alert-error">'+ errorThrown + '</div>';
                    $('.ajax_errors').append(msg);
                    return null;
                },
            });
        };
        function add_recipe(data) {
            get_recipe_data(data.menuitem_id, function(recipe_data) {
                var recipe_html = '<div class="span3">' +
                    '<img src="' + recipe_data.thumbnail + '" width="270" height="270" float="top"\\>'+
                    '<p>' + recipe_data.title + '</p>'+
                    '<button type="button" class="close recipe_delete" data-dismiss="alert" recipe_id='+
                    recipe_data.id + '>&times;</button>';
                if ($('.reciperow:last .span3').length >= 3){
                    console.log('Already three recipes in last row--adding new.');
                    var newrow = '<div class="row reciperow"><div class="container text-center"></div></div>';
                    $('#recipes').append(newrow);
                }
                $('.reciperow:last .container').append(recipe_html);
            });
        };


        //Datepicker code
        $('.datepicker').datepicker({
            format: 'mm/dd/yyyy'
        }).on('changeDate', function(ev){
            $(this).datepicker('hide');
        });

        //Modal config
        $('[data-toggle="modal"]').click(function(e) {
            e.preventDefault();
            var url = $(this).attr('href');
            if (url.indexOf('#') == 0) {
                $(url).modal('open');
            } else {
                $.get(url, function(data) {
                    $('<div class="modal hide fade">' + data + '</div>').modal({
                        width: 940,
                    });
                });
            }
        });

        //Recipe delete ajax
        $(document).on("click", ".recipe_delete", function(event){
            event.preventDefault();
            recipe_id = $(this).attr('recipe_id');
            $.ajax({
                url:'/menus/ajax_delete/',
                dataType: 'json',
                type: 'POST',
                data: {'menuitem_id': recipe_id},
                success: function(data, ret_code, jqHXR){
                    $(this).remove();
                },
                error: function(jqHXR, textStatus, errorThrown){
                    var msg = '<div class="alert alert-error">'+ errorThrown + '</div>';
                    $('.ajax_errors').append(msg);
                },
            });
        });

        //Autocomplete
        $(document).on("focus", ".autocomplete", function(event){
            if (!$(this).data("autocomplete")) {
                $(this).autocomplete({
                    autoFocus: true,
                    minLength: 2,
                    source: function(request, response) { //Fetch matches via AJAX
                        $.ajax({
                            url: '/recipes/ajax_search',
                            dataType: 'json',
                            data: {'term': request.term},
                            success: function(data, ret_code, jqXHR) {
                                response(data);
                            },
                        });
                    },
                    response: function(event, ui){  //If no matches, give option to create new recipe
                        if (ui.content.length === 0){
                            ui.content.push({
                                'value': $('.autocomplete').val(),
                                'label': 'Add new recipe: '+$('.autocomplete').val(),
                            });
                        }
                    },
                    select: function(event, ui) { //When option selected, add to menu via AJAX
                        event.preventDefault();
                        var menu_id = $('#menu_id').val();
                        var menu_date = $('#menu_date').val();
                        var menu_type = $('#menu_type').val();
                        $.ajax({
                            url: '/menus/ajax_add_to_menu/',
                            type: 'POST',
                            dataType: 'json',
                            data: {
                                'recipe_id': ui.item.value,
                                'menu_id': menu_id,
                                'menu_date': menu_date,
                                'menu_type': menu_type,
                            },
                            success: function(data, ret_code, jqHXR){
                                var recipe_name = ui.item.label.replace('Add new recipe: ', '');
                                var recipe = '<div class="alert alert-info">'+recipe_name
                                    + '<button type="button" class="close recipe_delete" '
                                    + 'data-dismiss="alert" recipe_id='+ data.menuitem_id
                                    + '>&times;</button></div>';
                                <!--$('.menu_items').append(recipe);-->
                                console.log('Calling add_recipe');
                                add_recipe(data);
                                $('#no_recipe_warning').remove();
                                $('.autocomplete').val(null);
                            },
                            error: function(jqXHR, textStatus, errorThrown) {
                                var msg = '<div class="alert alert-error">'+ errorThrown + '</div>';
                                $('.ajax_errors').append(msg);
                            },
                        });
                    },
                });
            }
        });

    });
</script>

<style type="text/css">
    td {
        max-width:150px;
    }
</style>

{% endblock %}


{% block main_content %}

<div class="row">
    <div class="span12">
        <h2>Current Menu</h2>
        {% if current_menu != None %}
            {% include "menu_render.html" %}
        {% else %}
            <p>No current menu! Why don't you add one?</p>
        {% endif %}
    </div>
</div>
<div class="row" style="padding-top:20px;">
    <div class="span4">
        <h2>Add a New Weekly Menu</h2>
        {% load crispy_forms_tags %}

        {% crispy weekly_menu_form %}
    </div>
    <div class="span4">
        <h2>Upcoming Menus</h2>
        {% if upcoming_menus|length > 0 %}
        <table class="table table-striped">
            <tbody>
                {% for menu in upcoming_menus %}
                <tr>
                    <td>{{ menu.start_date|date:"m/d/y" }} - {{ menu.end_date|date:"m/d/y" }}</td>
                    <td style="padding-left:10px;"><a class="btn btn-mini btn-primary" href="/menus/{{menu.id}}">View</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>No upcoming menus.</p>
        {% endif %}
    </div>
    <div class="span4">
        <h2>Previous Menus</h2>
        {% if previous_menus|length > 0 %}
        <table class="table table-striped">
            <tbody>
            {% for menu in previous_menus %}
                <tr>
                    <td>{{ menu.start_date|date:"m/d/y" }} - {{ menu.end_date|date:"m/d/y" }}</td>
                    <td style="padding-left:10px;"><a class="btn btn-mini btn-primary" href="/menus/{{menu.id}}">View</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>No previous menus.</p>
        {% endif %}
    </div>
</div>

{% endblock %}
