{% extends "base.html" %}

{% block scripts %}

<script type='text/JavaScript' src='{{ STATIC_URL }}/weekly_menus.js'></script>

<style type="text/css">
    td {
        max-width:150px;
    }
    .meal-date {
        margin-top: 15px;
        margin-bottom: 5px;
        border-bottom: 2px solid #CCCCCC;
    }
    .meal {
        <!--background-color: #CCCCCC;-->
    }
    .button-row {
        margin-top: 5px;
        margin-bottom: 10px;
    }
</style>

{% endblock %}


{% block main_content %}

<div class="row">
    <div class="span12">
        <h2>Current Menu</h2>
        {% if current_menu != None %}
            {% include "menu_render.html" %}
        {% else %}
            <p>No current menu! Why don't you add one?</p>
        {% endif %}
    </div>
</div>
<div class="row" style="padding-top:20px;">
    <div class="span4">
        <h2>Add a New Weekly Menu</h2>
        {% load crispy_forms_tags %}

        {% crispy weekly_menu_form %}
    </div>
    <div class="span4">
        <h2>Upcoming Menus</h2>
        {% if upcoming_menus|length > 0 %}
        <table class="table table-striped">
            <tbody>
                {% for menu in upcoming_menus %}
                <tr>
                    <td>{{ menu.start_date|date:"m/d/y" }} - {{ menu.end_date|date:"m/d/y" }}</td>
                    <td style="padding-left:10px;"><a class="btn btn-mini btn-primary" href="/menus/{{menu.id}}">View</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>No upcoming menus.</p>
        {% endif %}
    </div>
    <div class="span4">
        <h2>Previous Menus</h2>
        {% if previous_menus|length > 0 %}
        <table class="table table-striped">
            <tbody>
            {% for menu in previous_menus %}
                <tr>
                    <td>{{ menu.start_date|date:"m/d/y" }} - {{ menu.end_date|date:"m/d/y" }}</td>
                    <td style="padding-left:10px;"><a class="btn btn-mini btn-primary" href="/menus/{{menu.id}}">View</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>No previous menus.</p>
        {% endif %}
    </div>
</div>

{% endblock %}
