Django>=1.4.1
South==0.7.6
amqplib==1.0.2
anyjson==0.3.3
argparse==1.2.1
billiard==2.7.3.12
celery==3.0.7
django-ajax-selects==1.2.5
django-celery==3.0.6
django-celery-with-redis==3.0
django-crispy-forms==1.1.4
django-debug-toolbar==0.9.4
django-taggit==0.9.3
django-taggit-autosuggest==0.2
kombu==2.4.3
python-dateutil==1.5
redis==2.6.2
requests==0.13.9
wsgiref==0.1.2
mysql-python>=1.2.3
