Django>=1.4.1
South
#amqplib
anyjson
argparse==1.2.1
#billiard
celery
django-ajax-selects==1.2.5
django-celery
django-celery-with-redis
django-crispy-forms==1.1.4
django-debug-toolbar
django-taggit
django-taggit-autosuggest
#kombu
python-dateutil==1.5
redis
requests
wsgiref==0.1.2
django-taggit-templatetags
readability-lxml
cssselect
BeautifulSoup
gunicorn
pillow
sorl-thumbnail
pytz>=2013b
psycopg2
#django-extensions
django-registration
