{% extends "base.html" %}

{% block scripts %}

{% endblock %}


{% block main_content %}

<div class="row">
    <div class="span12">
        <h2 style="padding-bottom:10px;">{{ title }}</h2>
        {% load crispy_forms_tags %}

        {% crispy feed_form %}
    </div>
</div>

<div class="row">
    <div class="span12">
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == 'warning' %}
                    <div class="alert">
                {% elif message.tags == 'error' %}
                    <div class='alert alert-error'>
                {% else %}
                    <div class="alert alert-info">
                {% endif %}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
                </div> {% endfor %}
        {% endif %}
        <h2>Current Feeds</h2>
        {% if all_feeds|length > 0 %}
        <table class="table table-striped">
            <thead>
                <th>Feed</th>
                <th>Last Checked for Updates</th>
                <th>Status</th>
                <th></th>
                <th></th>
                <th></th>
            </thead>
            <tbody>
            {% for feed in all_feeds %}
            <tr>
                <td>{{feed.get_feed_type_display}}</td>
                {% if feed.updated == None %}
                    <td>Never</td>
                {% else %}
                    <td>{{feed.updated}}</td>
                {% endif %}
                <td>{{feed.status}}</td>
                <td><a href="/feeds/{{feed.id}}/update?next={{request.path}}" class="btn">Check for Updates</a></td>
                <td><a href="/feeds/{{feed.id}}" class="btn">Edit</a></td>
                <td><a href="/feeds/{{feed.id}}/delete" class="btn btn-danger">Delete</a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>No feeds--why don't you add one so you can import recipes?</p>
        {% endif %}
    </div>
</div>

{% endblock %}
