{% extends "base.html" %}

{% block scripts %}
{% endblock %}

{% block main_content %}

    {% if form.errors %}
        <div class="alert alert-errors">Please correct the errors below: {{ form.non_field_errors }}</div>
    {% endif %}

    <h2>Register for an account on Ravenous</h>
        
    <form class="form-horizontal" method="post" action="">
        {% csrf_token %}

        {% for field in form %}
            <div class="control-group {% if field.errors %}error{% endif %}">
                <label class="control-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                <div class="controls">
                    {{ field }}
                    {% if field.errors %}
                        <span class="help-inline">
                            {% for error in field.errors %}
                                {{ error }}<br />
                            {% endfor %}
                        </span>
                    {% endif %}
                </div>
            </div>
        {% endfor %}


        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn">Register</button>
            </div>
        </div>
    </form>

{% endblock %}
